<h1>User Show Page for <%= @user.email %></h1>
<p>Avatar: <%= image_tag "seed_avatar.png" %></p>

<p>Email: <%= @user.email %></p>

<% if current_user.id == params[:id].to_i %>
<%= link_to "Edit", edit_user_registration_path %>
<% end %>

<%= link_to "Back", root_path %>

