<div class="text-field">
	<%= form.label :Title %>
	<%= form.text_field :title %>
</div>

<div class="text-field">
	<%= form.label :Description %>
	<%= form.text_field :request_description %>
</div>

<div class="text-field">
	<%= form.label :Category %>
	<%= form.text_field :request_category %>
</div>

<div class="file-field">
	<%= form.label :Photo %>
	<%= form.file_field :photo %>
</div>
