<%= link_to "Home", root_path %><br>
<%= link_to "Create a new request", new_request_path %>
<h1>My Requests</h1>

<% @requests.each do |request| %>
<%= link_to "Edit Request", edit_request_path(request) %>
<%= link_to "Delete", request_path(request), method: :delete, data: { confirm: 'Are you sure?' } %>
<p><%= link_to "Title : #{request.title}", request_path(request) %></p>
<p>Ora Coins Reward : <%= request.token %> Ora Coins</p>
<%= link_to "Coinbase", "/auth/coinbase" %>
<p>Category : <%= request.request_category %></p>
<p>Description : <%= request.request_description %></p>
<p>Created at <%= time_ago_in_words(request.created_at) %> ago</p>
<p>--------------------------------------------------------------</p>

<% end %>
