<div class="text-field">
	<%= form.label :Title %>
	<%= form.text_field :title %>
</div>

<div class="text-field">
	<%= form.label :Category %>
	<%= form.text_field :offer_category %>
</div>

<div class="text-field">
	<%= form.label :Description %>
	<%= form.text_field :offer_description %>
</div>

<div class="text-field">
	<%= form.label :Ora_Coins_Charges %>
	<%= form.text_field :token %>
</div>

<div class="file-field">
	<%= form.label :Photo %>
	<%= form.file_field :photo %>
</div>

