<%= link_to "Home", root_path %><br>
<%= link_to "Create a new offer", new_offer_path %>
<h1>My Offers</h1>


<% @offers.each do |offer| %>
<%= link_to "Edit Offer", edit_offer_path(offer) %>
<%= link_to "Delete", offer_path(offer), method: :delete, data: { confirm: 'Are you sure?' } %>
<p><%= link_to "Title : #{offer.title}", offer_path(offer) %></p>
<p>Ora Coins Asking : <%= offer.token %> Ora Coins</p>
<p>Category : <%= offer.offer_category %></p>
<p>Description : <%= offer.offer_description %></p>
<p>Created at <%= time_ago_in_words(offer.created_at) %> ago</p>
<p>--------------------------------------------------------------</p>

<% end %>

