<!DOCTYPE html>
<html>
  <head>
    <title>Ora</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div><%= link_to "Home", root_path %></div>
<div><%= link_to "Make a New Offer", new_offer_path %></div> <!-- This is just a test if the link works -->
<div><%= link_to "Make a New Request", new_request_path %></div>  <!-- This is just a test if the link works -->
    <%= yield %>
  </body>
</html>
