<!DOCTYPE html>
<html>
  <head>
    <title>Ora</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div><%= link_to "[ Home ]", root_path %></div>
	<% if signed_in? %>
		<div><%= link_to "[ Make a New Offer ]", new_offer_path %><%= link_to "[ Offers Index ]", offers_path %></div> <!-- This is just a test if the link works -->
		<div><%= link_to "[ Make a New Request ]", new_request_path %><%= link_to "[ Requests Index ]", requests_path %></div>  <!-- This is just a test if the link works -->
		<%= button_to "Sign out", destroy_user_session_path, method: :delete %>
	<% else %>
		<div><%= link_to "[ Login ]", new_user_session_path %><%= link_to "[ Sign Up ]", new_user_registration_path %></div>
	<% end %>

    <%= yield %>
  </body>
</html>




